.TextoScatter{
    position: absolute;
    top: 25%;
    font-size: 20px;
    left: 51%;
}

.apexcharts-zoomin-icon, .apexcharts-zoomout-icon, .apexcharts-zoom-icon.apexcharts-selected, .apexcharts-pan-icon, .apexcharts-reset-icon{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .TextoScatter{
        top: 58%;
        left: 2%;
    }
  }

  @media only screen and (max-width: 1440px) {
    .TextoScatter{
        left: 50%;
        top: 21%;
    }
  }